cache-max=86400000
fund=false
audit=false
audit-level=moderate
save-exact=true
save-prefix=
init-author-name=Felix Geelhaar
init-license=MIT
init-version=0.1.0
loglevel=warn
progress=true
unicode=true
engine-strict=true
package-lock=false
shrinkwrap=false
save=true
workspaces-update=true
legacy-peer-deps=false
optional=true
